.header-container {
  height: 65px;
  background: #0f172a; /* xanh đậm */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 2px solid #1e293b; 
  color: white;
}

.header-title {
  font-size: 20px;
  font-weight: 600;
  color: #e2e8f0;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.welcome-text {
  font-size: 14px;
  color: #cbd5e1;
}

.avatar-box {
  width: 36px;
  height: 36px;
  background: #334155;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-icon {
  font-size: 18px;
  color: #f1f5f9;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo-left {
  width: 100px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.header-app-name {
  font-size: 18px;
  font-weight: 600;
  color: #e2e8f0;
}
