/* ConcessionsPage.css */

/* Light theme overrides */

.food-item-card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Ant Card customization for Light Theme */
.ant-card-meta-title {
  color: #000 !important;
}

.ant-card-meta-description {
  color: #595959 !important;
}