.client-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #cccccc;
  /* Nền xám đậm hẳn */
  color: #000;
}

.client-content {
  flex: 1;
  /* Đẩy footer xuống đáy trang */
  padding: 0;
  /* Xóa padding */
  margin-top: 0;
  /* Mặc định full size, chỉ trang nào cần thì tự thêm margin */
}